<!DOCTYPE html>
<html lang="pt-br">
<%- include("../global/head", {pageCss: 'mapaSite'}); %>

  <body>
    <%- include("../../partialViews/header"); %>
      <%- include("../../partialViews/navbar", { activeNavItem: "Transparencia-Dados Abertos" }); %>


        <div class="px-5">
          <div class="row mx-5 mb-3 pt-0 mt-4 shadow-sm" style="background-color: #ebebeb; border-radius: 8px">

            <!--TABLE-->
            <div class="container-fluid">
              <div class="card text m-5 mt-5 d-flex justify-content-center">
                <div class="card">
                  <div class="card-header">
                    <h3>MAPA SITE</h3>
                  </div>
                  <div class="card-body">
                    <div class="tree ">
                      <ul>
                        <li><span><a data-toggle="collapse" href="/mapaSite" aria-expanded="true" aria-controls="Web">
                              <i class="collapsed"><i class="fas fa-folder"></i></i>
                              <i class="expanded"><i class="far fa-folder-open"></i></i>Mapa do Site</a></span>
                          <div id="" class="collapse show">
                            <ul>
                              <li><span><a data-toggle="collapse" href="#" aria-expanded="false"
                                    aria-controls="page1"><i class="collapsed"><i class="fas fa-folder"></i></i>
                                    <i class="expanded"><i class="far fa-folder-open"></i></i>INSTITUCIONAL</a></span>
                                <ul>
                                  <div id="page1">
                                    <li><span><i class="far fa-file"></i><a href="/camara">SOBRE A CÂMARA</a></span>
                                    </li>
                                    <li><span><i class="far fa-file"></i><a href="/ouvidoria">OUVIDORIA</a></span></li>
                                    <li><span><i class="far fa-file"></i><a href="/eSic">E-SIC</a></span></li>
                                    <li><span><i class="far fa-file"></i><a href="/leiOrganica">LEI ORGÂNICA</a></span>
                                    </li>
                                    <li><span><i class="far fa-file"></i><a href="/regimento">REGIMENTO
                                          INTERNO</a></span></li>
                                    <li><span><i class="far fa-file"></i><a href="/dicionario">DICIONÁRIO
                                          LEGISLATIVO</a></span>
                                    </li>
                                    <li><span><i class="far fa-file"></i><a href="/infoParlamentar">PAPEL DO
                                          VEREADOR</a></span></li>
                                    <li><span><i class="far fa-file"></i><a href="/infoCamara">PAPEL DA
                                          CÂMARA</a></span></li>
                                  </div>
                                </ul>
                              </li>
                              <li><span><a data-toggle="collapse" href="#" aria-expanded="false"
                                    aria-controls="page1"><i class="collapsed"><i class="fas fa-folder"></i></i>
                                    <i class="expanded"><i class="far fa-folder-open"></i></i>PARLAMENTARES</a></span>
                                <ul>
                                  <div id="page1">
                                    <li><span><i class="far fa-file"></i><a href="#!">ADÃO KENES RODRIGUES
                                          BRAZ</a></span></li>
                                    <li><span><i class="far fa-file"></i><a href="#!">ANTONIO ARNALDO DE
                                          SOUZA</a></span>
                                    </li>
                                    <li><span><i class="far fa-file"></i><a href="#!">ANTONIO LUIZ LOPES MOURÃO
                                          JÚNIOR</a></span></li>
                                    <li><span><i class="far fa-file"></i><a href="#!">ANTONIO RONDINALDO GOMES DE
                                          SOUSA</a></span></li>
                                    <li><span><i class="far fa-file"></i><a href="#!">JOÃO DE DEUS FERREIRA</a></span>
                                    </li>
                                    <li><span><i class="far fa-file"></i><a href="#!">JOÃO PAULO DANTAS DE
                                          ARAÚJO</a></span></li>
                                    <li><span><i class="far fa-file"></i><a href="#!">JOAQUIM CÉZAR DE
                                          AZEVEDO</a></span>
                                    </li>
                                    <li><span><i class="far fa-file"></i><a href="#!">JOSÉ WILLAME RODRIGUES
                                          ARAGÃO</a></span></li>
                                    <li><span><i class="far fa-file"></i><a href="#!">MANOEL CONEGUNDES
                                          SOARES</a></span></li>
                                    <li><span><i class="far fa-file"></i><a href="#!">TALES BONFIM SALES</a></span></li>
                                    <li><span><i class="far fa-file"></i><a href="#!">FRANCISCO DEUSIMAR FERREIRA DA
                                          PONTES</a></span></li>
                                    <li><span><i class="far fa-file"></i><a href="#!">FRANCISCO DAS CHAGAS SOARES
                                          APOLÔNIO</a></span></li>
                                    <li><span><i class="far fa-file"></i><a href="#!">JOÃO DE DEUS RODRIGUES DA
                                          SILVA</a></span></li>
                                    <li><span><i class="far fa-file"></i><a href="#!">JOSÉ EDIVALDO RODRIGUES
                                          MELO</a></span></li>
                                    <li><span><i class="far fa-file"></i><a href="#!">ELIANE TELES DE SOUSA
                                          PINHO</a></span></li>
                                  </div>
                                </ul>
                              </li>
                              <li><span><a data-toggle="collapse" href="#" aria-expanded="false"
                                    aria-controls="page1"><i class="collapsed"><i class="fas fa-folder"></i></i>
                                    <i class="expanded"><i class="far fa-folder-open"></i></i>LEGISLATIVO</a></span>
                                <ul>
                                  <div id="page1">
                                    <li><span><i class="far fa-file"></i><a href="/historicOfParlamentares">GALERIA DE
                                          VEREADORES</a></span>
                                    </li>
                                    <li><span><i class="far fa-file"></i><a href="/mesaDiretora">MESA
                                          DIRETORA</a></span>
                                    </li>
                                    <li><span><i class="far fa-file"></i><a href="/commission">COMISSÕES</a></span></li>
                                    <li><span><i class="far fa-file"></i><a href="/sessoes">SESSÕES</a></span></li>
                                    <li><span><i class="far fa-file"></i><a href="/materias">PROPOSIÇÕES E
                                          MATÉRIAS</a></span>
                                    </li>
                                    <li><span><i class="far fa-file"></i><a href="/legislatura">LEGISLATURA</a></span>
                                    </li>
                                  </div>
                                </ul>
                              </li>
                              <li><span><a data-toggle="collapse" href="/transparencia" aria-expanded="false"
                                    aria-controls="page1"><i class="collapsed"><i class="fas fa-folder"></i></i>
                                    <i class="expanded"><i class="far fa-folder-open"></i></i>TRANSPARÊNCIA</a></span>
                                <ul>
                                </ul>
                              </li>
                              <li><span><a data-toggle="collapse" href="/gestaoFiscal" aria-expanded="false"
                                    aria-controls="page1"><i class="collapsed"><i class="fas fa-folder"></i></i>
                                    <i class="expanded"><i class="far fa-folder-open"></i></i>GESTÃO FISCAL</a></span>
                                <ul>
                                </ul>
                              </li>
                              <li><span><a data-toggle="collapse" href="#" aria-expanded="false"
                                    aria-controls="page1"><i class="collapsed"><i class="fas fa-folder"></i></i>
                                    <i class="expanded"><i class="far fa-folder-open"></i></i>INFORME</a></span>
                                <ul>
                                  <div id="page1">
                                    <li><span><i class="far fa-file"></i><a href="/news">NOTÍCIAS</a></span>
                                    </li>
                                    <li><span><i class="far fa-file"></i><a href="/videos">VÍDEOS</a></span>
                                    </li>
                                  </div>
                                </ul>
                              </li>
                            </ul>
                        </li>
                      </ul>
                    </div>
                    </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>


        <%- include("../../partialViews/footer"); %>
    <script src="/script/user/global/global.js"></script>

  </body>

  <style>
    a {
      text-decoration: none;
      color: inherit;
    }

    a:hover {
      text-decoration: none;
      color: white;
    }

    .tree li {
      list-style-type: none;
      margin: 0;
      padding: 10px 5px 0 5px;
      position: relative
    }

    .tree li::before,
    .tree li::after {
      content: '';
      left: -20px;
      position: absolute;
      right: auto
    }

    .tree li::before {
      border-left: 2px solid #000;
      bottom: 50px;
      height: 100%;
      top: 0;
      width: 1px
    }

    .tree li::after {
      border-top: 2px solid #000;
      height: 20px;
      top: 25px;
      width: 25px
    }

    .tree li span {
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border: 2px solid #000;
      border-radius: 3px;
      display: inline-block;
      padding: 3px 8px;
      text-decoration: none;
      cursor: pointer;
    }

    .tree>ul>li::before,
    .tree>ul>li::after {
      border: 0
    }

    .tree li:last-child::before {
      height: 27px;
      border-radius: 8px;
    }

    .tree li span {
      border-radius: 8px;
    }

    .tree li span:hover {
      background: var(--primary-color);
      color: white;
      border: 2px solid var(--primary-color);
      border-radius: 8px;
    }

    [aria-expanded="false"]>.expanded,
    [aria-expanded="true"]>.collapsed {
      display: none;
    }
  </style>


</html>