<!DOCTYPE html>
<html lang="pt-br">
<%- include("../global/head", {pageCss: 'infoParlamentar'}); %>

  <body>
    <%- include("../../partialViews/header"); %>
      <%- include("../../partialViews/navbar", { activeNavItem: "Institucional-InfoParlamentar" }); %>


        <div class="px-5">
          <div class="row mx-5 mb-3 pt-0 mt-4 shadow-sm" style="background-color: #ebebeb; border-radius: 8px">
            <!--TABLE-->
            <div class="container-fluid mt-5">
              <div class="card text m-5 mt-0 d-flex justify-content-center">
                <div class="card">
                  <div class="card-header">
                    <h3>PAPEL DO VEREADOR</h3>
                  </div>
                  <div class="card-body">
                    <p class="card-text fw-bold fs-5">O que é um vereador?</p>
                    <p class="card-text">
                      O vereador é um agente político, eleito para sua função pelo voto
                      direto e secreto da população. Ele trabalha no Poder Legislativo
                      da esfera municipal da federação brasileira (o Brasil é uma
                      federação composta por três esferas de poder: União, Estados e
                      Municípios). Assim, o vereador tem um papel equivalente ao que
                      deputados e senadores possuem nas esferas mais amplas (Estados e
                      União).
                    </p>
                  </div>
                  <div class="card-body">
                    <p class="card-text fw-bold fs-5">Papel do vereador</p>
                    <p class="card-text fw-bold fs-6">
                      QUAL É A PRINCIPAL FUNÇÃO DO VEREADOR?
                    </p>

                    <p class="card-text">
                      Como integrante do Poder Legislativo municipal, o vereador tem
                      como função primordial representar os interesses da população
                      perante o poder público. Esse é (ou pelo menos deveria ser) o
                      objetivo final de uma pessoa escolhida como representante do povo.
                      E como um vereador pode representar, na prática, os eleitores?
                      Pode-se dizer que a atividade mais importante do dia a dia de um
                      vereador é legislar. O que significa isso? Podemos entender pelo
                      verbo legislar todas as ações relacionadas ao tratamento do corpo
                      de leis que regem as ações do poder público e as relações sociais
                      no nosso país. O Brasil tem como tradição fazer a regulação de
                      assuntos importantes para a vida em sociedade por meio de leis
                      escritas, seguindo princípios que remontam ao Direito Romano. É
                      por isso que temos uma grande Constituição, com centenas de
                      artigos, parágrafos e alíneas. E não acaba por aí: a Constituição
                      serve apenas para guiar as leis “menores”, mais específicas, que
                      dizem respeito a uma grande variedade de assuntos. Dessa forma,
                      podemos citar como ações típicas que estão ao alcance de um
                      vereador criar, extinguir e emendar leis, da maneira que ele
                      julgar que seja mais adequada ao interesse público.
                    </p>
                  </div>
                  <div class="card-body">
                    <p class="card-text fw-bold fs-5">
                      QUAIS LEIS SÃO TRABALHADAS PELO VEREADOR?
                    </p>
                    <p class="card-text text-break m-0">
                      OK, já entendemos que o vereador é um agente do Poder Legislativo
                      e por isso tem a competência para cuidar das leis. Mas tem um
                      detalhe muito importante: quais leis um vereador pode tratar? Ora,
                      o mandato de vereador é restrito à esfera dos municípios.
                      Portanto, faz todo sentido que as leis deliberadas, criadas,
                      emendadas ou extintas pelos vereadores tenham efeitos exclusivos
                      para os municípios a que eles pertencem.
                    </p>
                    <p class="card-text text-break m-0">
                      Essa é a primeira pegadinha importante que queremos que você
                      esteja atento na hora de escolher seu candidato: não adianta um
                      vereador prometer que vai mudar leis que não sejam do âmbito do
                      município. Ele simplesmente não terá competência para tratar sobre
                      assuntos que digam respeito a mais de um município, ou a um estado
                      inteiro, ou mesmo ao país inteiro.
                    </p>
                    <p class="card-text text-break m-0">
                      Veja alguns exemplos de assuntos que podem ser tratados em lei por
                      um vereador:
                    </p>
                    <p class="card-text text-break m-0">
                      Mudança, criação ou extinção de tributos municipais;
                    </p>
                    <p class="card-text text-break m-0">
                      Criação de bairros, distritos e subdistritos dentro do município;
                    </p>
                    <p class="card-text text-break m-0">
                      Estabelecer o chamado perímetro urbano (a área do município que é
                      urbanizada);
                    </p>
                    <p class="card-text text-break m-0">
                      Sugerir nomes de ruas e avenidas;
                    </p>
                    <p class="card-text text-break m-0">
                      Aprovar os documentos orçamentários do município;
                    </p>
                    <p class="card-text text-break m-0">
                      Elaborar, deliberar e votar o Plano Diretor municipal;
                    </p>
                    <p class="card-text text-break m-0">
                      Aprovar o plano municipal de educação;
                    </p>
                    <p class="card-text text-break m-0">
                      Estabelecer as regras de zoneamento, uso e ocupação do solo;
                    </p>
                    <p class="card-text text-break m-0">
                      Determinar o tombamento de prédios como patrimônio público,
                      preservando a memória do município.
                    </p>
                    <p class="card-text text-break m-0">
                      Ainda tem um detalhe importante: fique de olho em quais tipos de
                      propostas são feitas pelo seu vereador. Não adianta um candidato
                      prometer que vai criar leis que obviamente se chocam com as leis
                      dos Estados, da União e da Constituição. Muito provavelmente esse
                      projeto de lei nem será considerado dentro da Câmara de
                      Vereadores.
                    </p>
                  </div>
                  <div class="card-body">
                    <p class="card-text fw-bold fs-5">
                      O PAPEL DE FISCALIZAR O PREFEITO
                    </p>
                    <p class="card-text">
                      As atividades do vereador não podem ser resumidas apenas ao
                      tratamento das leis do município. Existe ainda uma função ligada
                      ao cargo de vereador que é fundamental para a própria saúde da
                      nossa democracia. Trata-se da fiscalização das ações do Poder
                      Executivo municipal – ou seja, das ações do prefeito. O ato de
                      fiscalizar torna mais equilibradas as ações do Poder Executivo.
                      Isso é essencial para que o poder do prefeito não se torne tão
                      grande que o deixe acima da lei, como um monarca ou um ditador. É
                      por isso que a lei prevê expressamente alguns deveres importantes
                      dos vereadores em relação à prefeitura, como: Fiscalizar as contas
                      da prefeitura, de forma a inibir a existência de obras
                      superfaturadas e atrasadas; Fiscalizar e controlar diretamente os
                      atos do Poder Executivo, inclusive da administração indireta (por
                      exemplo, visitar órgãos municipais e fazer questionamentos por
                      escrito ao prefeito, que é obrigado por lei a prestar
                      esclarecimentos em até 30 dias); Criar comissões parlamentares de
                      inquérito; Realizar o chamado controle externo das contas
                      públicas, com ajuda do Tribunal de Contas do Estado ou do
                      Município responsável.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%- include("../../partialViews/footer"); %>
    <script src="/script/user/global/global.js"></script>

  </body>

</html>