<header>
  <!--  Menu Acessibilidade -->
  <div id="acessibilidadeDiv" class="d-flex justify-content-around p-0" style="background-color: var(--secondary-color); font-size: 10px;">
    <div class="d-flex justify-content-around m-0">
      <div class=" ">
        <a class="nav-link" href="/transparencia" id="navbarDarkDropdownMenuLink" role="button"
          style="color: white">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-list"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
          </svg> 
          <span>Transparência</span>
        </a>
      </div>

      <div class=" ">
        <a class="nav-link" href="/ouvidoria" style="color: white">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-headset"
            viewBox="0 0 16 16">
            <path
              d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5z" />
          </svg>
          <span>Ouvidoria</span>
        </a>
      </div>

      <div class="  ">
        <a class="nav-link" href="/eSic" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown"
          aria-expanded="false" style="color: white">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-info"
            viewBox="0 0 16 16">
            <path
              d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
          </svg> 
          <span>E-Sic</span> 
        </a>
      </div>

      <div class="  ">
        <a class="nav-link" href="/pesquisa" style="color: white">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-search"
            viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg> 
          <span>Pesquisa</span>
        </a>
      </div>

      <div class="  ">
        <a class="nav-link" href="/mapaSite" style="color: white">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-map"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103zM10 1.91l-4-.8v12.98l4 .8V1.91zm1 12.98 4-.8V1.11l-4 .8v12.98zm-6-.8V1.11l-4 .8v12.98l4-.8z" />
          </svg>
          <span>Mapa do Site</span>
        </a>
      </div>

      <div class="  " onclick="setDarkMode()">
        <a class="nav-link" href="#" id="navbarDarkDropdownMenuLink" role="button" style="color: white">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-eye-fill"
            viewBox="0 0 16 16">
            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
          </svg> 
          <span>Contraste</span>
        </a>
      </div>

      <div class="  ">
        <a class="nav-link" href="#" onclick="aumentarTamFonte()" id="navbarDarkDropdownMenuLink" role="button" style="color: white">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
            class="bi bi-plus-square" viewBox="0 0 16 16">
            <path
              d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
          </svg>
          <span>Aumentar</span> 
        </a>
      </div>

      <div class="  ">
        <a class="nav-link" href="#" onclick="diminuirTamFonte()" id="navbarDarkDropdownMenuLink" role="button" style="color: white">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
            class="bi bi-patch-minus" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M5.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z" />
            <path
              d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z" />
          </svg>
          <span>Diminuir</span> 
        </a>
      </div>

      <div class="  ">
        <a class="nav-link" href="/acessibilidade" id="navbarDarkDropdownMenuLink" role="button"
          style="color: white">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
            class="bi bi-emoji-smile" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
              d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z" />
          </svg>
          <span>Acessibilidade</span> 
        </a>
      </div>

      <div class="  ">
          <a class="nav-link" href="https://www.gov.br/governodigital/pt-br/vlibras" target="_blank" role="button"
            style="color: white">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
              class="bi bi-hand-index" viewBox="0 0 16 16">
              <path
                d="M6.75 1a.75.75 0 0 1 .75.75V8a.5.5 0 0 0 1 0V5.467l.086-.004c.317-.012.637-.008.816.027.134.027.294.096.448.182.077.042.15.147.15.314V8a.5.5 0 1 0 1 0V6.435a4.9 4.9 0 0 1 .106-.01c.316-.024.584-.01.708.04.118.046.3.207.486.43.081.096.15.19.2.259V8.5a.5.5 0 0 0 1 0v-1h.342a1 1 0 0 1 .995 1.1l-.271 2.715a2.5 2.5 0 0 1-.317.991l-1.395 2.442a.5.5 0 0 1-.434.252H6.035a.5.5 0 0 1-.416-.223l-1.433-2.15a1.5 1.5 0 0 1-.243-.666l-.345-3.105a.5.5 0 0 1 .399-.546L5 8.11V9a.5.5 0 0 0 1 0V1.75A.75.75 0 0 1 6.75 1zM8.5 4.466V1.75a1.75 1.75 0 1 0-3.5 0v5.34l-1.2.24a1.5 1.5 0 0 0-1.196 1.636l.345 3.106a2.5 2.5 0 0 0 .405 1.11l1.433 2.15A1.5 1.5 0 0 0 6.035 16h6.385a1.5 1.5 0 0 0 1.302-.756l1.395-2.441a3.5 3.5 0 0 0 .444-1.389l.271-2.715a2 2 0 0 0-1.99-2.199h-.581a5.114 5.114 0 0 0-.195-.248c-.191-.229-.51-.568-.88-.716-.364-.146-.846-.132-1.158-.108l-.132.012a1.26 1.26 0 0 0-.56-.642 2.632 2.632 0 0 0-.738-.288c-.31-.062-.739-.058-1.05-.046l-.048.002zm2.094 2.025z" />
            </svg> 
            <span>Libras</span> 
          </a>
      </div>

      
    </div>
  </div>

  <!--  Header pagina -->
  <div class="container-fluid">

    <div id="headerDiv" class="row d-flex ml-2 align-items-center justify-content-center header">
      <div class="col-xs-12 mt-2 col-sm-8 col-md-4 d-flex justify-content-center">
        <a href="/" class="logo">
          <img src="<%= camara.LogoPath %>" height="100px" alt="">
        </a>
      </div>
      <div class="col-xs-12 mt-2 col-sm-4 col-md-2 d-flex justify-content-center acessInfo">
        <a href="#" class="acessinfo">
          <img src="/img/acessoainformacao.svg" height="30px" alt="" style="margin-right: 3px; margin-left: 3px">
        </a>
        <div style="line-height: 1.2;">Acesso à<br>informação</div>
      </div>
      <div class="col-xs-12 mt-2 col-md-1 col-md-3 d-flex justify-content-center">
        <div class="submit-line">
          <input type="text" placeholder=" O que você procura?" />
          <button class="submit-lente" type="submit">
            <img class="search" src="/img/search.svg" alt="" style="height:23px">
          </button>
        </div>
      </div>
      <div class="col-xs-12 my-2 col-md-1 col-md-3 d-flex justify-content-center align-items-center">
        <img src="/img/barra.svg" alt="" height="50px" style="margin-left: -14px;">
        <a class="instagram" href="<%= camara.Instagram %>" style="height:30px; margin-left: 8px;">
          <img src="/img/instagram.svg" alt="" height="30px">
        </a>
        <a class="facebook" href="<%= camara.Facebook %>"
          style="height:30px; margin-left: 8px;">
          <img src="/img/facebook.svg" alt="" height="30px">
        </a>
        <a class="youtube" href="<%= camara.Youtube %>"
          style="height:30px; margin-left: 8px; margin-right: 8px;">
          <img src="/img/youtube.svg" alt="" height="30px">
        </a>
        <img src="/img/barra.svg" alt="" height="50px">
        <a class="accessibility" href="#" style="height:50px; margin-left: 8px;">
          <img src="/img/acessibilidade.svg" alt="" height="50px">
        </a>
      </div>
    </div>

  </div>
</header>

<style>
  .acessInfo {
    font-size: 0.8rem;
    justify-content: center;
    color: white
  }

  .submit-lente {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    border: none;
    background: transparent;
    outline: none;
    align-items: center;
    justify-content: center;
  }

  .submit-line {
    position: relative;
    width: 200px;
  }

  .submit-line input {
    height: 2.2rem;
    width: 100%;
    border-radius: 7px;
    border: 2px solid transparent;
  }

  input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    border: 2px solid var(--secondary-color);
  }

  .instagram:hover,
  .facebook:hover,
  .youtube:hover,
  .accessibility:hover,
  .acessinfo:hover,
  .search:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  @media screen and (max-width: 769px) {
    .header {
      height: 15rem
    }
  }

  @media screen and (min-width: 769px) {
    .header {
      height: 10rem
    }
  }

@media only screen and (min-width: 768px) and (max-width: 959px) {
  #acessibilidadeDiv span{
        font-size: 12px;
    }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  #acessibilidadeDiv span{
        font-size: 14px;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #acessibilidadeDiv span{
        font-size: 0px;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  #acessibilidadeDiv span{
        font-size: 0px;
    }
}

@media only screen and (max-width: 479px) {
  #acessibilidadeDiv span{
    font-size: 0px;
  }
}
</style>