<nav class="navbar navbar-expand-lg navbar-dark pb-0 sticky-top navbarUser" bg-light
  style="background-color: var(--secondary-color); width: 100%">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse navbar-expand-md" id="navbarNavDropdown">
      <ul class="navbar-nav nav-fill w-100 d-flex justify-content-center">
        <li class="dropdown <% if(activeNavItem.includes('Inicio')) {%> activeNavItem <% }%>">
          <a id="homelogo" class="nav-link" href="/" style="color: white"><img src="/icons/house-door-fill.svg"
              alt="Inicio" /></a>
        </li>

        <li class="dropdown <% if(activeNavItem.includes('Institucional')) {%> activeNavItem <% }%>">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
            &nbsp;INSTITUCIONAL
          </a>
          <ul class="dropdown-menu dropdown-menu-ligth" aria-labelledby="navbarDarkDropdownMenuLink">
            <li>
              <a class="dropdown-item <% if(activeNavItem.includes('Camara')) {%> activeNavSubItem <% }%>"
                href="/user/camara">Informações sobre a Câmara</a>
            </li>
            <li>
              <a class="dropdown-item <% if(activeNavItem.includes('Ouvidoria')) {%> activeNavSubItem <% }%>"
                href="/user/ouvidoria">Ouvidoria</a>
            </li>
            <li>
              <a class="dropdown-item <% if(activeNavItem.includes('Esic')) {%> activeNavSubItem <% }%>"
                href="/user/eSic">E-SIC</a>
            </li>
            <li>
              <a class="dropdown-item <% if(activeNavItem.includes('Regimento')) {%> activeNavSubItem <% }%>"
                href="/user/regimento">Regimento Interno</a>
            </li>
            <li>
              <a class="dropdown-item <% if(activeNavItem.includes('LeiOrganica')) {%> activeNavSubItem <% }%>"
                href="/user/leiOrganica">Lei Orgânica</a>
            </li>
            <li>
              <a class="dropdown-item <% if(activeNavItem.includes('Dicionario')) {%> activeNavSubItem <% }%>"
                href="/user/dicionario">Dicionário Legislativo</a>
            </li>
            <li>
              <a class="dropdown-item <% if(activeNavItem.includes('InfoParlamentar')) {%> activeNavSubItem <% }%>"
                href="/user/infoParlamentar">Papel do Vereador</a>
            </li>
            <li>
              <a class="dropdown-item <% if(activeNavItem.includes('InfoCâmara')) {%> activeNavSubItem <% }%>"
                href="/user/infoCamara">Papel da Câmara</a>
            </li>
          </ul>
        </li>

        <li class="dropdown <% if(activeNavItem.includes('Parlamentares')) {%> activeNavItem <% }%>">
          <a class="nav-link" href="/user/parlamentar" style="color: white">&nbsp;PARLAMENTARES</a>
        </li>
        <li class="dropdown <% if(activeNavItem.includes('Legislativo')) {%> activeNavItem <% }%>">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
            &nbsp;LEGISLATIVO
          </a>
          <ul class="dropdown-menu dropdown-menu-ligth" aria-labelledby="navbarDarkDropdownMenuLink">
            <li>
              <a class="dropdown-item <% if(activeNavItem.includes('Historico')) {%> activeNavSubItem <% }%>"
                href="/user/historicOfParlamentares">Histórico de Parlamentares</a>
            </li>
            <li>
              <a class="dropdown-item <% if(activeNavItem.includes('MesaDiretora')) {%> activeNavSubItem <% }%>"
                href="/user/mesadiretora">Mesa Diretora</a>
            </li>
            <li>
              <a class="dropdown-item <% if(activeNavItem.includes('Comissoes')) {%> activeNavSubItem <% }%>"
                href="/user/commission">Comissões</a>
            </li>
            <li>
              <a class="dropdown-item <% if(activeNavItem.includes('Sessoes')) {%> activeNavSubItem <% }%>"
                href="/user/sessoes">Sessões</a>
            </li>
          </ul>
        </li>
        <li class="dropdown <% if(activeNavItem.includes('Transparencia')) {%> activeNavItem <% }%>">
          <a class="nav-link" href="/user/transparencia" style="color: white">&nbsp;TRANSPARÊNCIA</a>
        </li>
        <li class="dropdown <% if(activeNavItem.includes('GestaoFiscal')) {%> activeNavItem <% }%>">
          <a class="nav-link" href="/user/gestaofiscal" style="color: white">
            &nbsp;GESTÃO FISCAL
          </a>
        </li>
        <li class="dropdown <% if(activeNavItem.includes('Publicacoes')) {%> activeNavItem <% }%>">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
            &nbsp;PUBLICAÇÕES
          </a>
          <ul class="dropdown-menu dropdown-menu-ligth" aria-labelledby="navbarDarkDropdownMenuLink">
            <li>
              <a class="dropdown-item <% if(activeNavItem.includes('Noticias')) {%> activeNavSubItem <% }%>"
                href="/user/news">Noticias</a>
            </li>
            <li>
              <a class="dropdown-item <% if(activeNavItem.includes('Videos')) {%> activeNavSubItem <% }%>"
                href="/user/videos">Vídeos</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  nav .navbar-nav li a:hover {
    background-color: var(--primary-color);
    border-radius: 5px 5px 0 0;
    color: white;
  }

  nav.navbarUser {
    border-bottom: 7px solid var(--primary-color);
  }

  .activeNavItem {
    background-color: var(--primary-color);
    border-radius: 5px 5px 0 0;
  }

  .activeNavSubItem {
    background-color: var(--primary-color);
    color: white;
  }
</style>