<!DOCTYPE html>
<html lang="pt-br">
<%- include("../global/head", {pageCss: 'veiculos'}); %>

  <body>
    <%- include("../../partialViews/header"); %>
      <%- include("../../partialViews/navbar", { activeNavItem: "Transparencia-Veiculos" }); %>

        <div class="px-5">
          <div class="row mx-5 mb-3 pt-0 mt-4 shadow-sm" style="background-color: #ebebeb; border-radius: 8px">

            <!-- FILTROS -->
            <div class="container-fluid">
              <div class="row mx-0">
                <div class="col-12 p-5 d-flex justify-content-end">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Pesquisar" aria-label="Pesquisar"
                      aria-describedby="button-addon2">

                    <button class="btn btn-outline-primary" type="button" id="button-addon2">
                      <img class="search" src="/img/search.svg" alt="" style="height:23px">
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!--TABLE-->
            <div class="container-fluid">
              <div class="card text-center m-5 mt-0 d-flex justify-content-center"
                style="border-style: solid; border-color: var(--secondary-color)">
                <div class="card-header" style="background-color: var(--secondary-color); color: white">
                  <div class="row">
                    <div class="col-12">
                      <h3>Lista de Veiculos</h3>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <table class="table table-bordered">
                    <thead class="table" style="background-color: var(--secondary-color); color: white">
                      <tr>
                        <th class="col-3" scope="col">Marca/Modelo</th>
                        <th class="col-3" scope="col">Placa/Renavam</th>
                        <th class="col-3" scope="col">Secretaria/Finalidade</th>
                        <th class="col-2" scope="col">Situação/Tipo</th>
                        <th class="col-1" scope="col">Ir para</th>
                      </tr>
                    </thead>
                    <tbody style="color: var(--secondary-color) color">
                      <tr>
                        <th scope="row">...</th>
                        <th scope="row">...</th>
                        <th scope="row">...</th>
                        <th scope="row">...</th>
                        <th scope="row">...</th>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%- include("../../partialViews/footer"); %>
    <script src="/script/user/global/global.js"></script>

  </body>

</html>