<!DOCTYPE html>
<html lang="pt-br">
<%- include("../global/head", {pageCss: 'decretos'}); %>

  <body>
    <%- include("../../partialViews/header"); %>
      <%- include("../../partialViews/navbar", { activeNavItem: "Transparencia-Decretos" }); %>


        <div class="px-5">
          <div class="row mx-5 mb-3 pt-0 mt-4 shadow-sm" style="background-color: #ebebeb; border-radius: 8px">

            <!-- FILTROS -->
            <div class="container-fluid">
              <div class="row mx-0">
                <div class="col-12 p-5 d-flex justify-content-end">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Pesquisar" aria-label="Pesquisar"
                      aria-describedby="button-addon2">

                    <button class="btn btn-outline-primary" type="button" id="button-addon2">
                      <img class="search" src="/img/search.svg" alt="" style="height:23px">
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!--TABLE-->
            <div class="container-fluid">
              <div class="card text-center m-5 mt-0 d-flex justify-content-center"
                style="border-style: solid; border-color: var(--secondary-color)">
                <div class="card-header" style="background-color: var(--secondary-color); color: white">
                  <div class="row">
                    <div class="col-12">
                      <h3>Decretos</h3>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <table class="table table-bordered">
                    <thead class="table" style="background-color: var(--secondary-color); color: white">
                      <tr>
                        <th class="col-9" scope="col">Descrição</th>
                        <th class="col-2" scope="col">Data</th>
                        <th class="col-2" scope="col">Arquivo</th>
                      </tr>
                    </thead>
                    <tbody style="color: var(--secondary-color) color">
                      <tr>
                        <th scope="row">DCR - 866/2019</th>
                        <td>
                          <img title="Calendario" src="/icons/calendar3.svg" alt="Calendario" height="20rem" />
                          &nbsp;25/02/2019
                        </td>
                        <td>
                          <a href="/uploads/DECRETOS_866_2019_0000001.pdf" target="_blank">
                            <img title="Abrir arquivo" src="/icons/pdf-icon.svg" alt="Arquivo PDF" height="20rem" />
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>




        <%- include("../../partialViews/footer"); %>
    <script src="/script/user/global/global.js"></script>

  </body>

</html>